<table summary="Information about collecting">
  <tr>
    <td class="main">
		<h1><%= @title %></h1>
		<%= link_to "Add a style", folder_styles_path(params[:folder_id]) %>
		<%= render 'shared/linesheet' %>	
	</td>

  </tr>
</table>