<li>
  <%= link_to folder.name, folder %> | <%= link_to pluralize(folder.collecting.count, "style") %>
  
  <% if current_user.admin? %>
  | <%= link_to "delete", folder, :method => :delete, 
								   :confirm => "You sure?",
                                   :title => "Delete #{folder.name}" %>
  <% end %>
</li>