<% @folder ||= current_folder %>
<div class="stats">
  <table summary="Folder stats">
    <tr>
      <td><%= link_to pluralize(@folder.collections.count, "styles"), folder_path(params[:folder_id]) %>
      </td>
    </tr>
  </table>
</div>