<h1>New folder</h1>
<%= form_for(@folder, :html => { :multipart => true }) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'fields', :f => f %>
  	<div class="actions">
    	<%= f.submit "Add folder" %>
  	</div>
<% end %>