<% unless @linesheet_items.empty? %>
  <table  summary="Folder styles">
    <%= render :partial => 'shared/linesheet_item', :collection => @linesheet_items %>
  </table>
  <%= will_paginate @linesheet_items %>
<% end %>