<li>
<div id="collect_form_<%= style.id %>">
<% if @folder.nil? %>
	<%= render 'styles/uncollected', :style => style %>
<% else %>
	<% if @folder.collecting?(style) %>
		<%= render 'styles/collect_again', :style => style %>
	<% else %>	
		<%= render 'styles/collect', :style => style %>
	<% end %>
</div>
</li>
<% end %>