<li>
  <%= image_tag style.photo.url(:thumb) %>
  <%= link_to style.number, style %>
	<% if current_user.admin? %>
  | <%= link_to "edit", edit_style_path(style) %>
  | <%= link_to "delete", style, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{style.number}" %>
  <% end %>
</li>