<h1>New style</h1>
<%= form_for(@style, :html => { :multipart => true }) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'fields', :f => f %>
  	<div class="actions">
    	<%= f.submit "Add style" %>
  	</div>
<% end %>